<div class="d-flex justify-content-center flex-wrap">
    <a class="btn btn-primary me-2 mt-2" href="/software/browser"><i class="fa-brands fa-chrome me-2"></i>Browser</a>
    <a class="btn btn-primary me-2 mt-2" href="/software/os"><i class="fa-brands fa-windows me-2"></i>Operating System</a>
    <a class="btn btn-primary me-2 mt-2" href="/software/messaging"><i class="fa-brands fa-whatsapp me-2"></i>Messaging</a>
    <a class="btn btn-primary me-2 mt-2" href="/software/password-manager"><i class="fa-solid fa-key me-2"></i>Password Manager</a>
    <a class="btn btn-primary me-2 mt-2" href="/services/vpn"><i class="fa-solid fa-lock me-2"></i>VPN</a>
    <a class="btn btn-primary me-2 mt-2" href="/services/dns"><i class="fa-solid fa-server me-2"></i>DNS</a>
    <a class="btn btn-primary me-2 mt-2" href="/services/search"><i class="fa-solid fa-search me-2"></i>Search</a>
</div>